[Unit]
Description=wettest
Wants=sshd.service

[Service]
ExecStart=/home/pi/pixi run bot
RestartSec=5
WorkingDirectory=/home/pi/female_lama/
Restart=always

[Install]
WantedBy=multi-user.target
